<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Cliente</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="cliente.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>CPF</label>
        <p-inputMask name="cpf" mask="999.999.999-99"
          [(ngModel)]="cliente.cpf"
          #cpf="ngModel" required></p-inputMask>

        <app-message [control]="cpf" error="required"
          text="Informe o CPF"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Cidade</label>
        <input pInputText type="text" name="cidade"
          [(ngModel)]="cliente.endereco.cidade"
          #cidade="ngModel" required>

        <app-message [control]="cidade" error="required"
          text="Informe a cidade"></app-message>
      </div>

      <div class="p-col-12 p-md-2 p-fluid">
        <label>UF</label>
        <input pInputText type="text" name="uf" maxlength="2"
          [(ngModel)]="cliente.endereco.uf"
          #uf="ngModel" required>

        <app-message [control]="uf" error="required"
          text="Informe o uf"></app-message>
      </div>
      

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro"
          [(ngModel)]="cliente.endereco.logradouro"
          #logradouro="ngModel" required>

        <app-message [control]="logradouro" error="required"
          text="Informe o logradouro"></app-message>
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
          [(ngModel)]="cliente.endereco.numero"
          #numero="ngModel" required>

        <app-message [control]="numero" error="required"
          text="Informe o número"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento"
        [(ngModel)]="cliente.endereco.complemento">
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro"
          [(ngModel)]="cliente.endereco.bairro"
          #bairro="ngModel" required>

        <app-message [control]="bairro" error="required"
          text="Informe o bairro"></app-message>
      </div>

      <div class="p-col-12 p-md-4 p-fluid">
        <label>CEP</label>
        <p-inputMask name="cep" mask="99.999-999"
          [(ngModel)]="cliente.endereco.cep"
          (onBlur)="consultaCEP($event)"
          #cep="ngModel" required></p-inputMask>
          
        <app-message [control]="cep" error="required"
          text="Informe o CEP"></app-message>
      </div>

      
      <!-- Telefone -->
      <!-- <div class="p-col-12 p-md-6 p-fluid"> -->
        
        <div class="p-col-5 p-md-6 p-fluid ">
          
            <ng-container *ngFor="let item of telefones; let i = index;" class="container">
              <div class="p-col-12 p-md-12 p-fluid telefone">
              <div class="p-col-5 p-md-6 p-fluid">
                <label>Telefone {{i+1}} </label>
                <!-- <input pInputText type="text"  name="telefone{{i}}" maxlength="11"
                [(ngModel)]="item.telefone" #telefone{{i}}="ngModel" (blur)="telVal($event,i)" required> -->
                <p-inputMask name="telefone{{i}}" mask="(99)99999-999?9"
                  [(ngModel)]="item.telefone"
                  (onBlur)="telVal($event,i)"
                  #telefone{{i}}="ngModel" required></p-inputMask>
        
                <div _ngcontent-rbw-c91="" id="tel{{i}}" class="p-message p-message-error ng-star-inserted msgEmail hide"> Informe um telefone válido </div>
                
              </div>
              <div class="p-col-5 p-md-5 p-fluid">
                <label>Tipo</label>
                
                <p-dropdown #tipo{{i}}="ngModel" 
                  [options]="tipos2"  [(ngModel)]="item.tipo" name="tipo{{i}}" 
                    placeholder="Selecione" value="item.tipo" (onBlur)="tipoVal($event,i)" 
                     optionLabel="value" required></p-dropdown>

                     <div _ngcontent-rbw-c91="" id="tipo{{i}}" class="p-message p-message-error ng-star-inserted msgEmail hide"> Selecione um tipo </div>
            
               
              </div>
              
              <div class="p-col-1 p-md-1 p-fluid">
                <button pButton (click)="confirmarExclusao(i)" icon="pi pi-trash" type="button" 
                  class="p-button-raised p-button-rounded p-button-danger remove" *ngIf="i > 0" label=""></button>
                <button pButton (click)="addTelefone()" *ngIf="i == 0" 
                  class="p-button-raised p-button-rounded p-button-success add"type="button" 
                  label="" icon="pi pi-plus"></button>
              </div>
            </div>
            </ng-container>
         
        </div>
     

        <div class="p-col-5 p-md-6 p-fluid ">
          
          <ng-container *ngFor="let item of emails; let i = index;" class="container">
            <div class="p-col-12 p-md-12 p-fluid telefone">
              
            <div class="p-col-11 p-md-11 p-fluid ">
              <label>E-mail {{i+1}}</label>
              <input pInputText type="email" name="email{{i}}" 
                [(ngModel)]="item.email" (blur)="emailVal($event,i)"
                #email{{i}}="ngModel" required>
                 
                <div _ngcontent-rbw-c91="" id="email{{i}}" class="p-message p-message-error ng-star-inserted msgEmail hide"> Informe um email válido </div>
            </div>
            <div class="p-col-1 p-md-1 p-fluid">
              <button pButton (click)="confirmarExclusaoEmail(i)" icon="pi pi-trash" type="button" 
                class="p-button-raised p-button-rounded p-button-danger remove" *ngIf="i > 0" label=""></button>
              <button pButton (click)="addEmail()" class="p-button-raised p-button-rounded p-button-success add" 
                type="button" label="" icon="pi pi-plus" *ngIf="i == 0"></button>
            </div>
          </div>
        </ng-container>
     
      
    </div>
          
            
         
            
        
      <!-- </div> -->
      <!-- Telefone {{item.telefone}}-->
      <div class="p-col-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid" ></button> 
        <button pButton type="button" label="Novo" class="p-button-info"
          (click)="nova(f)"></button>

        <a routerLink="/clientes">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>

</div>
