.telefone{
    display: flex;
    align-items: start;
    margin-left: -17px;
}




.msgEmail{
    padding: 3px;
    margin: 0;
    margin-top: 4px;
}
.hide{
    display: none;
}

.show{
    display: block;
}

.add, .remove{
    margin-bottom: -34px;
}