<div class="container">

  <div class="p-grid">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="p-col-12">
        <h1>Clientes</h1>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="clientes" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma cliente encontrada
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>UF</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-cliente>
          <tr>
            <td>
              <span class="p-column-title">Nome</span>
              {{ cliente.nome }}
            </td>
            <td>
              <span class="p-column-title">Cidade</span>
              {{ cliente.endereco.cidade }}
            </td>
            <td>
              <span class="p-column-title">UF</span>
              {{ cliente.endereco.uf }}
            </td>
            
            <td class="col-acoes">
              <span class="p-column-title"></span>
              <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/clientes', cliente.codigo]" ></a>
                
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(cliente)" ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Novo Cliente" routerLink="/clientes/nova"></a>
    </div>
  </div>

</div>
